arrow==0.12.1
beautifulsoup4==4.6.0
bottle==0.12.13
certifi==2018.4.16
Crypto==2.6
cycler==0.10.0
dropbox==8.8.1
ecdsa==0.13
et_xmlfile==1.0.1
evernote==1.25.3
faker==0.8.13
feedparser==5.2.1
flask==0.12.2
google==2.0.1
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.11.3
images2gif==1.0.1
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
jinja2==2.10
libmodernize==0.5
markdown==2.6.11
markdown2==2.3.5
markupsafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
midiutil==1.2.1
mpl_toolkits
mpmath==1.0.0
numpy==1.14.2
oauth2==1.9.0.post1
paramiko==2.4.1
parsedatetime==2.4
Pillow==5.1.0
pycparser==2.18
py-dateutil==2.2
pyflakes==1.6.0
pygments==2.2.0
pylab
pyparsing==2.2.0
PyPDF2==1.26.0
pytest==3.5.0
pytz==2015.7
qrcode
reportlab==3.1.8
requests==2.9.1
sgmllib
simpy==3.0.8
six==1.6.1
sqlalchemy==0.9.7
sqlite3==2.6.0
sympy==0.7.4.1
thrift
turtle
twitter
wavebender==0.3
werkzeug==0.9.4
wsgiref
xmltodict==0.8.7
yapf==0.16.1
