arrow==0.12.1
bottle==0.12.13
bs4==0.0.1
certifi=2016.02.28
Crypto==1.4
cycler==0.10.0
dateutil=2.2
dropbox==8.7.1
ecdsa
et_xmlfile=1.0.1
evernote
faker
feedparser=5.2.1
flask==0.12.2
google
html2text==2018.1.9
html5lib==1.0
httplib2==0.11.3
images2gif
itsdangerous
jdcal=1.3
jedi==0.11.1
jinja2==2.10
libmodernize=0.5
markdown==2.6.11
markdown2==2.3.5
markupsafe
matplotlib==2.2.2
mccabe==0.6.1
midiutil
mpl_toolkits
mpmath==1.0
numpy==1.14.2
oauth2=1.9.0.post1
paramiko==2.4.1
parsedatetime==2.4
PIL=2.9.0
pycparser=2.10
pyflakes=1.5.0
pygments=2.1
pylab
pyparsing=2.0.1
PyPDF2=1.22
pytest=3.0.5
pytz=2015.7
qrcode
reportlab=3.1.8
requests=2.9.1
sgmllib
simpy=3.0.8
six=1.6.1
sqlalchemy=0.9.7
sqlite3=2.6.0
sympy=0.7.4.1
thrift
turtle
twitter
wavebender=0.3
werkzeug=0.9.4
wsgiref
xmltodict=0.8.7
yaml=3.11
yapf=0.16.1
